.titulo {
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Arial', sans-serif;
    font-size: 3vw; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    width: 20vw;
}
html {
    height: 100%;
    width: 100%;
}

body {
    height: 90%;
    width: 99%;
    background-image: url(Desert.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.centrarTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(209, 211, 196, 0.642);
    border-radius: 10vw;
}

.preguntas {
    font-size: 1.5vw;
    text-align: center;
    width: 30vw;
    padding: 2.5vw;
    margin: 1vw auto;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    display: flex;
    flex-direction: column;
}

.preguntas button {
    margin: 1vw; 
    padding: 1vw 2vw;
}

.centradoOg {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100vw;
}

.resultados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2vw;
    background: rgba(209, 211, 196, 0.642);
    border: solid;
    border-width: 1vw;
}

#akinator-container img {
    position: fixed;
    left: -3vw;
    top: -7vw;
    animation: floatAnimation 3s infinite ease-in-out;
    width: 40vw;
    z-index: 1;
   
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

